{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    },
    "description": "This connector provides read-only access to the statuses of Veterans' decision reviews and legacy benefit appeals, directly interfacing with Caseflow. It enables third-party information requests without VA authentication, requiring an API key for access. Ideal for obtaining current appeal statuses through secure, authorized requests.",
    "termsOfService": "https://developer.va.gov/terms-of-service",
    "title": "Veterans Affairs Appeals",
    "version": "0.0.1"
  },
  "host": "api.va.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/appeals": {
      "get": {
        "summary": "Retrieve appeals status for the Veteran with the supplied SSN",
        "description": "Returns a list of all known appeal records for the given Veteran. Includes details of each appeal's current status, priority, and history of updates.",
        "operationId": "GetAppeals",
        "tags": [
          "Appeals Status"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Va-Ssn",
            "in": "header",
            "description": "SSN of Veteran to retrieve appeals statuses for",
            "required": true,
            "type": "string",
            "x-example": "796130115",
            "x-ms-summary": "Veteran SSN"
          },
          {
            "name": "X-Va-User",
            "in": "header",
            "description": "Username of the person making the request",
            "required": true,
            "type": "string",
            "x-example": "va.api.user+idme.001@gmail.com",
            "x-ms-summary": "VA Username"
          }
        ],
        "responses": {
          "200": {
            "description": "Appeals retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Appeals"
                }
              },
              "required": [
                "data"
              ]
            }
          },
          "400": {
            "description": "Missing SSN header"
          },
          "401": {
            "description": "Authorization information not provided"
          },
          "403": {
            "description": "Invalid authorization"
          },
          "404": {
            "description": "No appeals found for supplied SSN"
          },
          "413": {
            "description": "Payload too large"
          },
          "422": {
            "description": "Invalid SSN"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "definitions": {
    "Alert": {
      "title": "Alert",
      "description": "Notification of a request for more information or of a change in the appeal status that requires action.",
      "properties": {
        "details": {
          "title": "Details",
          "description": "Further information about the alert",
          "type": "object"
        },
        "type": {
          "title": "Type",
          "description": "Enum of notifications for an appeal. Acronyms used include CAVC (Court of Appeals for Veteran Claims), VSO (Veteran Service Organization), and DRO (Decision Review Officer).",
          "enum": [
            "form9_needed",
            "scheduled_hearing",
            "hearing_no_show",
            "held_for_evidence",
            "cavc_option",
            "ramp_eligible",
            "ramp_ineligible",
            "decision_soon",
            "blocked_by_vso",
            "scheduled_dro_hearing",
            "dro_hearing_no_show",
            "evidentiary_period",
            "ama_post_decision"
          ],
          "example": "form9_needed",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Appeal": {
      "title": "Appeal",
      "properties": {
        "attributes": {
          "title": "Attributes",
          "description": "Properties related to the appeal attributes",
          "type": "object",
          "properties": {
            "active": {
              "title": "Active",
              "description": "Indicates whether the appeal is ongoing or closed",
              "example": true,
              "type": "boolean"
            },
            "alerts": {
              "title": "Alerts",
              "description": "Array of alerts associated with the appeal",
              "items": {
                "$ref": "#/definitions/Alert"
              },
              "type": "array"
            },
            "aod": {
              "title": "AOD",
              "description": "Advanced on Docket, whether this appeal was prioritized due to Veteran age or urgency",
              "example": false,
              "type": "boolean"
            },
            "aoj": {
              "title": "AOJ",
              "description": "Agency of Original Jurisdiction, VBA is Veterans Benefits Administration, VHA is Veterans Health Administration, and NCA is National Cemetery Administration",
              "enum": [
                "VBA",
                "VHA",
                "NCA",
                "Other"
              ],
              "example": "VBA",
              "type": "string"
            },
            "appealIds": {
              "title": "Appeal IDs",
              "description": "An array of the individual IDs that are combined into this appeal",
              "items": {
                "example": "1234567",
                "type": "string"
              },
              "type": "array"
            },
            "description": {
              "title": "Description",
              "description": "Description of the appeal",
              "example": "Service connection, tinnitus, and 3 others",
              "type": "string"
            },
            "docket": {
              "title": "Docket",
              "description": "Represents the appeals' position in line for a decision and the expected timing of the decision",
              "properties": {
                "ahead": {
                  "title": "Ahead",
                  "example": 109203,
                  "type": "integer"
                },
                "docketMonth": {
                  "title": "Docket Month",
                  "example": "2014-06-01",
                  "format": "date",
                  "type": "string"
                },
                "eligibleToSwitch": {
                  "title": "Eligible To Switch",
                  "example": true,
                  "type": "boolean"
                },
                "eta": {
                  "$ref": "#/definitions/Eta"
                },
                "front": {
                  "title": "Front",
                  "example": false,
                  "type": "boolean"
                },
                "month": {
                  "title": "Month",
                  "example": "2016-08-01",
                  "format": "date",
                  "type": "string"
                },
                "ready": {
                  "title": "Ready",
                  "example": 22109,
                  "type": "integer"
                },
                "switchDueDate": {
                  "title": "Switch Due Date",
                  "example": "2020-06-01",
                  "format": "date",
                  "type": "string"
                },
                "total": {
                  "title": "Total",
                  "example": 206900,
                  "type": "integer"
                },
                "totalAllDockets": {
                  "title": "Total All Dockets",
                  "example": 420012,
                  "type": "integer"
                },
                "type": {
                  "title": "Type",
                  "description": "Indicates the docket of the appeal",
                  "enum": [
                    "Direct Review",
                    "Evidence Submission",
                    "Hearing Request",
                    "Legacy"
                  ],
                  "example": "Hearing Request",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "events": {
              "title": "Events",
              "items": {
                "$ref": "#/definitions/Event"
              },
              "type": "array"
            },
            "evidence": {
              "title": "Evidence",
              "items": {
                "$ref": "#/definitions/Evidence"
              },
              "type": "array"
            },
            "incompleteHistory": {
              "title": "Incomplete History",
              "description": "Indicates whether this response contains a complete history of this appeal",
              "example": false,
              "type": "boolean"
            },
            "issues": {
              "title": "Issues",
              "items": {
                "$ref": "#/definitions/Issue"
              },
              "type": "array"
            },
            "location": {
              "title": "Location",
              "description": "Indicates who currently has the appeal AOJ (Agency of Original Jurisdiction) or BVA (Board of Veterans Appeals)",
              "enum": [
                "AOJ",
                "BVA"
              ],
              "example": "BVA",
              "type": "string"
            },
            "programArea": {
              "title": "Program Area",
              "enum": [
                "Compensation",
                "Pension",
                "Insurance",
                "Loan Guaranty",
                "Education",
                "VRE",
                "Medical",
                "Burial",
                "BVA",
                "Fiduciary",
                "Other",
                "Multiple"
              ],
              "example": "Pension",
              "type": "string"
            },
            "status": {
              "title": "Status",
              "description": "This appeal's position in the appeal process",
              "properties": {
                "details": {
                  "title": "Details",
                  "description": "Further information about appeal's timeline",
                  "properties": {
                    "certificationTimeliness": {
                      "title": "Certification Timeliness",
                      "description": "The range of months it typically takes to certify an appeal",
                      "example": [
                        2,
                        12
                      ],
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    },
                    "decisionTimeliness": {
                      "title": "Decision Timeliness",
                      "description": "The range of months it typically takes to mail a decision after the appeal has been first assigned to an attorney",
                      "example": [
                        1,
                        2
                      ],
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    },
                    "lastSocDate": {
                      "title": "Last Soc Date",
                      "description": "The date of the last SOC (Statement of Case) or SSOC (Supplemental Statement of Case)",
                      "example": "2018-05-15",
                      "type": "string"
                    },
                    "remandSsocTimeliness": {
                      "title": "Remand Ssoc Timeliness",
                      "description": "The range of months it typically takes to create a second SSOC (Supplemental Statement of Case) on a remand",
                      "example": [
                        3,
                        11
                      ],
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    },
                    "remandTimeliness": {
                      "title": "Remand Timeliness",
                      "description": "The range of months it typically takes to either create an SSOC (Supplemental Statement of Case), field grant, or return to the Board a remand",
                      "example": [
                        16,
                        29
                      ],
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    },
                    "returnTimeliness": {
                      "title": "Return Timeliness",
                      "description": "The range of months it typically takes to return a remand to the Board after creating an SSOC (Supplemental Statement of Case)",
                      "example": [
                        1,
                        2
                      ],
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    },
                    "socTimeliness": {
                      "title": "Soc Timeliness",
                      "description": "The range of months it typically takes to create an SOC (Statement of Case) or field grant",
                      "example": [
                        10,
                        16
                      ],
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    },
                    "ssocTimeliness": {
                      "title": "Ssoc Timeliness",
                      "description": "The range of months it typically takes to create an SSOC (Supplemental Statement of Case)",
                      "example": [
                        7,
                        20
                      ],
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                "type": {
                  "title": "Type",
                  "description": "Indicates the current position in the appeal process",
                  "enum": [
                    "Scheduled Hearing",
                    "Pending Hearing Scheduling",
                    "On Docket",
                    "Pending Certification SSOC",
                    "Pending Certification",
                    "Pending Form9",
                    "Pending SOC",
                    "Stayed",
                    "At VSO",
                    "BVA Development",
                    "Decision In Progress",
                    "BVA Decision",
                    "Field Grant",
                    "Withdrawn",
                    "FTR",
                    "RAMP",
                    "Death",
                    "Reconsideration",
                    "Other Close",
                    "Remand Ssoc",
                    "Remand",
                    "Merged",
                    "Evidentiary Period",
                    "AMA Remand",
                    "Post BVA DTA Decision",
                    "BVA Decision Effectuation",
                    "SC Received",
                    "SC Decision",
                    "SC Closed",
                    "HLR Received",
                    "HLR DTA Error",
                    "HLR Decision",
                    "HLR Closed",
                    "Statutory Opt In"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": {
              "title": "Type",
              "description": "Indicates the type of Appeal. CAVC is the Court of Appeals for Veterans Claims",
              "enum": [
                "Original",
                "Post Remand",
                "Post CAVC Remand",
                "Reconsideration",
                "CUE"
              ],
              "type": "string"
            },
            "updated": {
              "title": "Updated",
              "description": "The timestamp for the last refresh of the data",
              "example": "2018-01-03T09:30:15-05:00",
              "format": "date-time",
              "type": "string"
            }
          }
        },
        "id": {
          "title": "ID",
          "description": "ID from VACOLS (Veteran Appeals Control and Locator Service) or Caseflow",
          "example": "7387389",
          "type": "string"
        },
        "type": {
          "title": "Type",
          "description": "The decision review option chosen by the appellant",
          "enum": [
            "Legacy Appeal",
            "Appeal",
            "Supplemental Claim",
            "Higher Level Review"
          ],
          "example": "Legacy Appeal",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Appeals": {
      "items": {
        "$ref": "#/definitions/Appeal"
      },
      "type": "array"
    },
    "Eta": {
      "title": "Eta",
      "description": "Estimated decision dates for each docket.",
      "properties": {
        "directReview": {
          "title": "Direct Review",
          "description": "Estimated decision date for direct review docket",
          "example": "2020-02-01",
          "format": "date"
        },
        "evidenceSubmission": {
          "title": "Evidence Submission",
          "description": "Estimated decision date for evidence submission docket",
          "example": "2024-06-01",
          "format": "date"
        },
        "hearing": {
          "title": "Hearing",
          "description": "Estimated decision date for hearing docket",
          "example": "2024-06-01",
          "format": "date"
        }
      },
      "type": "object"
    },
    "Event": {
      "title": "Event",
      "description": "Event during the appeals process",
      "properties": {
        "date": {
          "title": "Date",
          "description": "Date the event occurred",
          "example": "2016-05-30",
          "format": "date",
          "type": "string"
        },
        "details": {
          "title": "Details",
          "description": "Further information about the event",
          "type": "object"
        },
        "type": {
          "title": "Type",
          "description": "Enum of possible event types. Acronyms used include NOD (Notice of Disagreement), SOC (Statement of Case), SSOC (Supplemental Statement of Case), FTR (Failed to Report), BVA (Board of Veteran Appeals), CAVC (Court of Appeals for Veteran Claims), and DRO (Decision Review Officer)",
          "enum": [
            "Claim Decision",
            "NOD",
            "SOC",
            "Form9",
            "SSOC",
            "Certified",
            "Hearing Held",
            "Hearing No Show",
            "BVA Decision",
            "Field Grant",
            "Withdrawn",
            "FTR",
            "RAMP",
            "Death",
            "Merged",
            "Record Designation",
            "Reconsideration",
            "Vacated",
            "Other Close",
            "CAVC Decision",
            "RAMP Notice",
            "Transcript",
            "Remand Return",
            "AMA NOD",
            "Docket Change",
            "Distributed to VLJ",
            "BVA Decision Effectuation",
            "DTA Decision",
            "SC Request",
            "SC Decision",
            "SC Other Close",
            "HLR Request",
            "HLR Decision",
            "HLR DTA Error",
            "HLR Other Close",
            "Statutory Opt In"
          ],
          "example": "SOC",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Evidence": {
      "title": "Evidence",
      "description": "Documentation and other evidence that has been submitted in support of the appeal",
      "properties": {
        "date": {
          "title": "Date",
          "description": "Date the evidence was added to the case",
          "example": "2017-09-30",
          "format": "date",
          "type": "string"
        },
        "description": {
          "title": "Description",
          "description": "Short text describing what the evidence is",
          "example": "Service treatment records",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Issue": {
      "title": "Issue",
      "description": "Issues on appeal",
      "properties": {
        "active": {
          "title": "Active",
          "description": "Whether the issue is presently under contention",
          "example": true,
          "type": "boolean"
        },
        "date": {
          "title": "Date",
          "description": "The date of the most recent decision on the issue",
          "example": "2016-05-30",
          "format": "date",
          "type": "string"
        },
        "description": {
          "title": "Description",
          "description": "Description of the issue",
          "example": "Service connection, tinnitus",
          "type": "string"
        },
        "diagnosticCode": {
          "title": "Diagnostic Code",
          "description": "The CFR (Code of Federal Regulations) diagnostic code for the issue, if applicable",
          "example": "6260",
          "type": "string"
        },
        "lastAction": {
          "title": "Last Action",
          "description": "Most recent decision made on this issue",
          "enum": [
            "Field Grant",
            "Withdrawn",
            "Allowed",
            "Denied",
            "Remand",
            "CAVC Remand"
          ],
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "apikey": {
      "in": "header",
      "name": "apikey",
      "type": "apiKey"
    }
  },
  "security": [],
  "tags": [
    {
      "description": "Caseflow appeals status API",
      "name": "Appeals Status"
    }
  ],
  "x-components": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.va.gov/explore/api/appeals-status"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://department.va.gov/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ]
}