{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    },
    "title": "USDA FSIS Recalls",
    "version": "1.0.0",
    "description": "The United States Department of Agriculture (USDA) Food Safety and Inspection Service (FSIS) Recall and Public Health Alert data provides essential information on food safety. It helps consumers, businesses, and public health officials stay informed about recalls and alerts. The endpoint offers up-to-date details on affected products, recall reasons, and safety guidance, supporting informed decision-making and public health initiatives."
  },
  "host": "www.fsis.usda.gov",
  "basePath": "/fsis/api/recall/v/1",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/": {
      "get": {
        "summary": "Get Recall Data",
        "description": "Retrieve data related to USDA FSIS recalls.",
        "operationId": "GetRecallData",
        "parameters": [
          {
            "name": "field_states_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by affected state.",
            "x-ms-summary": "State filter",
            "enum": [
              25, 26, 77, 27, 28, 29, 30, 31, 32, 76, 33, 34, 78, 36, 37, 38,
              39, 41, 42, 43, 44, 46, 47, 48, 51, 557, 52, 53, 54, 56, 57, 58,
              59, 79, 60, 61, 62, 63, 80, 64, 65, 66, 67, 68, 81, 69, 70, 82,
              71, 72, 73, 74, 75
            ],
            "x-ms-enum-values": [
              { "value": 25, "displayName": "Alabama" },
              { "value": 26, "displayName": "Alaska" },
              { "value": 77, "displayName": "American Samoa" },
              { "value": 27, "displayName": "Arizona" },
              { "value": 28, "displayName": "Arkansas" },
              { "value": 29, "displayName": "California" },
              { "value": 30, "displayName": "Colorado" },
              { "value": 31, "displayName": "Connecticut" },
              { "value": 32, "displayName": "Delaware" },
              { "value": 76, "displayName": "District of Columbia" },
              { "value": 33, "displayName": "Florida" },
              { "value": 34, "displayName": "Georgia" },
              { "value": 78, "displayName": "Guam" },
              { "value": 36, "displayName": "Idaho" },
              { "value": 37, "displayName": "Illinois" },
              { "value": 38, "displayName": "Indiana" },
              { "value": 39, "displayName": "Iowa" },
              { "value": 41, "displayName": "Kentucky" },
              { "value": 42, "displayName": "Louisiana" },
              { "value": 43, "displayName": "Maine" },
              { "value": 44, "displayName": "Maryland" },
              { "value": 46, "displayName": "Michigan" },
              { "value": 47, "displayName": "Minnesota" },
              { "value": 48, "displayName": "Mississippi" },
              { "value": 51, "displayName": "Montana" },
              { "value": 557, "displayName": "Nationwide" },
              { "value": 52, "displayName": "Nebraska" },
              { "value": 53, "displayName": "Nevada" },
              { "value": 54, "displayName": "New Hampshire" },
              { "value": 56, "displayName": "New Mexico" },
              { "value": 57, "displayName": "New York" },
              { "value": 58, "displayName": "North Carolina" },
              { "value": 59, "displayName": "North Dakota" },
              { "value": 79, "displayName": "Northern Mariana Islands" },
              { "value": 60, "displayName": "Ohio" },
              { "value": 61, "displayName": "Oklahoma" },
              { "value": 62, "displayName": "Oregon" },
              { "value": 63, "displayName": "Pennsylvania" },
              { "value": 80, "displayName": "Puerto Rico" },
              { "value": 64, "displayName": "Rhode Island" },
              { "value": 65, "displayName": "South Carolina" },
              { "value": 66, "displayName": "South Dakota" },
              { "value": 67, "displayName": "Tennessee" },
              { "value": 68, "displayName": "Texas" },
              {
                "value": 81,
                "displayName": "United States Minor Outlying Islands"
              },
              { "value": 69, "displayName": "Utah" },
              { "value": 70, "displayName": "Vermont" },
              { "value": 82, "displayName": "Virgin Islands, U.S." },
              { "value": 71, "displayName": "Virginia" },
              { "value": 72, "displayName": "Washington" },
              { "value": 73, "displayName": "West Virginia" },
              { "value": 74, "displayName": "Wisconsin" },
              { "value": 75, "displayName": "Wyoming" }
            ]
          },
          {
            "name": "field_archive_recall",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by archive recall status.",
            "x-ms-summary": "Archive recall filter",
            "enum": [1, 0],
            "x-ms-enum-values": [
              { "value": 1, "displayName": "TRUE" },
              { "value": 0, "displayName": "FALSE" }
            ]
          },
          {
            "name": "field_closed_year_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by closed year.",
            "x-ms-summary": "Closed year filter",
            "enum": [
              470, 469, 468, 467, 466, 465, 464, 462, 463, 231, 230, 229, 228,
              227, 226, 225, 224, 223, 222, 221, 220, 219, 218, 217, 216, 215,
              177, 6, 5, 4, 3, 2, 1, 446, 444, 445, 606
            ],
            "x-ms-enum-values": [
              { "value": 470, "displayName": "1970" },
              { "value": 469, "displayName": "1980" },
              { "value": 468, "displayName": "1990" },
              { "value": 467, "displayName": "1991" },
              { "value": 466, "displayName": "1992" },
              { "value": 465, "displayName": "1993" },
              { "value": 464, "displayName": "1994" },
              { "value": 462, "displayName": "1995" },
              { "value": 463, "displayName": "1996" },
              { "value": 231, "displayName": "1997" },
              { "value": 230, "displayName": "1998" },
              { "value": 229, "displayName": "1999" },
              { "value": 228, "displayName": "2000" },
              { "value": 227, "displayName": "2001" },
              { "value": 226, "displayName": "2002" },
              { "value": 225, "displayName": "2003" },
              { "value": 224, "displayName": "2004" },
              { "value": 223, "displayName": "2005" },
              { "value": 222, "displayName": "2006" },
              { "value": 221, "displayName": "2007" },
              { "value": 220, "displayName": "2008" },
              { "value": 219, "displayName": "2009" },
              { "value": 218, "displayName": "2010" },
              { "value": 217, "displayName": "2011" },
              { "value": 216, "displayName": "2012" },
              { "value": 215, "displayName": "2013" },
              { "value": 177, "displayName": "2014" },
              { "value": 6, "displayName": "2015" },
              { "value": 5, "displayName": "2016" },
              { "value": 4, "displayName": "2017" },
              { "value": 3, "displayName": "2018" },
              { "value": 2, "displayName": "2019" },
              { "value": 1, "displayName": "2020" },
              { "value": 446, "displayName": "2021" },
              { "value": 444, "displayName": "2022" },
              { "value": 445, "displayName": "2023" },
              { "value": 606, "displayName": "2024" }
            ]
          },
          {
            "name": "field_risk_level_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by health risk level.",
            "x-ms-summary": "Risk level filter",
            "enum": [9, 7, 611, 8, 555],
            "x-ms-enum-values": [
              { "value": 9, "displayName": "High - Class I" },
              { "value": 7, "displayName": "Low - Class II" },
              { "value": 611, "displayName": "Marginal - Class III" },
              { "value": 8, "displayName": "Medium - Class I" },
              { "value": 555, "displayName": "Public Health Alert" }
            ]
          },
          {
            "name": "field_processing_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by processing category.",
            "x-ms-summary": "Processing category filter",
            "enum": [162, 159, 160, 158, 157, 161, 154, 155, 153, 156, 625],
            "x-ms-enum-values": [
              { "value": 162, "displayName": "Eggs/Egg Products" },
              {
                "value": 159,
                "displayName": "Fully Cooked - Not Shelf Stable"
              },
              {
                "value": 160,
                "displayName": "Heat Treated - Not Fully Cooked - Not Shelf Stable"
              },
              { "value": 158, "displayName": "Heat Treated - Shelf Stable" },
              {
                "value": 157,
                "displayName": "Not Heat Treated - Shelf Stable"
              },
              {
                "value": 161,
                "displayName": "Products with Secondary Inhibitors - Not Shelf Stable"
              },
              { "value": 154, "displayName": "Raw - Intact" },
              { "value": 155, "displayName": "Raw - Non Intact" },
              { "value": 153, "displayName": "Slaughter" },
              {
                "value": 156,
                "displayName": "Thermally Processed - Commercially Sterile"
              },
              { "value": 625, "displayName": "Unknown" }
            ]
          },
          {
            "name": "field_recall_classification_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by recall classification.",
            "x-ms-summary": "Recall classification filter",
            "enum": [10, 11, 12, 554],
            "x-ms-enum-values": [
              { "value": 10, "displayName": "Class I" },
              { "value": 11, "displayName": "Class II" },
              { "value": 12, "displayName": "Class III" },
              { "value": 554, "displayName": "Public Health Alert" }
            ]
          },
          {
            "name": "field_recall_reason_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by recall reason.",
            "x-ms-summary": "Recall reason filter",
            "enum": [19, 17, 13, 15, 21, 18, 16, 20, 14],
            "x-ms-enum-values": [
              { "value": 19, "displayName": "Import Violation" },
              { "value": 17, "displayName": "Insanitary Conditions" },
              { "value": 13, "displayName": "Misbranding" },
              { "value": 15, "displayName": "Mislabeling" },
              { "value": 21, "displayName": "Processing Defect" },
              {
                "value": 18,
                "displayName": "Produced Without Benefit of Inspection"
              },
              { "value": 16, "displayName": "Product Contamination" },
              { "value": 20, "displayName": "Unfit for Human Consumption" },
              { "value": 14, "displayName": "Unreported Allergens" }
            ]
          },
          {
            "name": "field_recall_type_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by recall type.",
            "x-ms-summary": "Recall type filter",
            "enum": [338, 22, 23, 24],
            "x-ms-enum-values": [
              { "value": 338, "displayName": "Outbreak" },
              { "value": 22, "displayName": "Public Health Alert" },
              { "value": 23, "displayName": "Active Recall" },
              { "value": 24, "displayName": "Closed Recall" }
            ]
          },
          {
            "name": "field_related_to_outbreak",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by whether the recall is related to an outbreak.",
            "x-ms-summary": "Outbreak related filter",
            "enum": [1, 0],
            "x-ms-enum-values": [
              { "value": 1, "displayName": "TRUE" },
              { "value": 0, "displayName": "FALSE" }
            ]
          },
          {
            "name": "field_year_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by recall issue year.",
            "x-ms-summary": "Issue year filter",
            "enum": [
              470, 469, 468, 467, 466, 465, 464, 462, 463, 231, 230, 229, 228,
              227, 226, 225, 224, 223, 222, 221, 220, 219, 218, 217, 216, 215,
              177, 6, 5, 4, 3, 2, 1, 446, 444, 445, 606
            ],
            "x-ms-enum-values": [
              { "value": 470, "displayName": "1970" },
              { "value": 469, "displayName": "1980" },
              { "value": 468, "displayName": "1990" },
              { "value": 467, "displayName": "1991" },
              { "value": 466, "displayName": "1992" },
              { "value": 465, "displayName": "1993" },
              { "value": 464, "displayName": "1994" },
              { "value": 462, "displayName": "1995" },
              { "value": 463, "displayName": "1996" },
              { "value": 231, "displayName": "1997" },
              { "value": 230, "displayName": "1998" },
              { "value": 229, "displayName": "1999" },
              { "value": 228, "displayName": "2000" },
              { "value": 227, "displayName": "2001" },
              { "value": 226, "displayName": "2002" },
              { "value": 225, "displayName": "2003" },
              { "value": 224, "displayName": "2004" },
              { "value": 223, "displayName": "2005" },
              { "value": 222, "displayName": "2006" },
              { "value": 221, "displayName": "2007" },
              { "value": 220, "displayName": "2008" },
              { "value": 219, "displayName": "2009" },
              { "value": 218, "displayName": "2010" },
              { "value": 217, "displayName": "2011" },
              { "value": 216, "displayName": "2012" },
              { "value": 215, "displayName": "2013" },
              { "value": 177, "displayName": "2014" },
              { "value": 6, "displayName": "2015" },
              { "value": 5, "displayName": "2016" },
              { "value": 4, "displayName": "2017" },
              { "value": 3, "displayName": "2018" },
              { "value": 2, "displayName": "2019" },
              { "value": 1, "displayName": "2020" },
              { "value": 446, "displayName": "2021" },
              { "value": 444, "displayName": "2022" },
              { "value": 445, "displayName": "2023" },
              { "value": 606, "displayName": "2024" }
            ]
          },
          {
            "name": "field_translation_language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by translation language.",
            "x-ms-summary": "Language filter",
            "enum": ["en", "es"],
            "x-ms-enum-values": [
              { "value": "en", "displayName": "English" },
              { "value": "es", "displayName": "Spanish" }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "field_title": {
                    "type": "string"
                  },
                  "field_active_notice": {
                    "type": "string"
                  },
                  "field_states": {
                    "type": "string"
                  },
                  "field_archive_recall": {
                    "type": "string"
                  },
                  "field_closed_date": {
                    "type": "string"
                  },
                  "field_closed_year": {
                    "type": "string"
                  },
                  "field_company_media_contact": {
                    "type": "string"
                  },
                  "field_distro_list": {
                    "type": "string"
                  },
                  "field_en_press_release": {
                    "type": "string"
                  },
                  "field_establishment": {
                    "type": "string"
                  },
                  "field_labels": {
                    "type": "string"
                  },
                  "field_media_contact": {
                    "type": "string"
                  },
                  "field_risk_level": {
                    "type": "string"
                  },
                  "field_last_modified_date": {
                    "type": "string"
                  },
                  "field_press_release": {
                    "type": "string"
                  },
                  "field_processing": {
                    "type": "string"
                  },
                  "field_product_items": {
                    "type": "string"
                  },
                  "field_qty_recovered": {
                    "type": "string"
                  },
                  "field_recall_classification": {
                    "type": "string"
                  },
                  "field_recall_date": {
                    "type": "string"
                  },
                  "field_recall_number": {
                    "type": "string"
                  },
                  "field_recall_reason": {
                    "type": "string"
                  },
                  "field_recall_type": {
                    "type": "string"
                  },
                  "field_related_to_outbreak": {
                    "type": "string"
                  },
                  "field_summary": {
                    "type": "string"
                  },
                  "field_year": {
                    "type": "string"
                  },
                  "langcode": {
                    "type": "string"
                  },
                  "field_has_spanish": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.va.gov/explore/api/va-facilities"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://department.va.gov/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ]
}
